/*** Northeastern Global CSS File ***/


/*********************************************************************/
/***** BEGIN DESIGNPLUS THEME IMPORT & CUSTOMIZATION  ****************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */

/*** Legacy Sidebar ***/
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);

/*** New Sidebar ***/
/* For Main CSS files */
@import url(https://designplus.ciditools.com/css/content.css);
@import url(https://designplus.ciditools.com/css/editor.css);
/* For Mobile app CSS file */
/*@import url(https://designplus.ciditools.com/css/mobile.css);*/

:root {
    --dt-color-primary: #000000;
    --dt-color-primary-contrast: #FFFFFF;
    --dt-color-primary-dark-text: #000000;
    --dt-color-secondary: #D41B2C;
    --dt-color-secondary-contrast: #FFFFFF;
    --dt-color-secondary-dark-text: #D41B2C;
    --dt-color-accent: #E5D4AB;
    --dt-color-accent-contrast: #000000;
    --dt-color-accent-dark-text: #000000;
    --dt-color-gray: #CCCCCC;
    --dt-color-gray-contrast: #000000;
    --dt-color-gray-dark-text: #636363;
    --dt-color-white: #FFFFFF;
    --dt-color-white-contrast: #000000;
    --dt-color-white-dark-text: #707070;
    --dt-color-graybg: #E6E6E6;
    --dt-color-graybg-contrast: #000000;
}

/*********************************************************************/
/***** END DESIGNPLUS THEME IMPORT & CUSTOMIZATION   *****************/
/*********************************************************************/




/*** Hide ability to add email addresses ***/

.add_email_link {
    display: none;
}

.email_meta {
    display: none;
}

.add_contact_link {
    display: none;
}
