:root {
        --ic-brand-primary-darkened-5: #CA1A2A;
--ic-brand-primary-darkened-10: #BF1928;
--ic-brand-primary-darkened-15: #B51726;
--ic-brand-primary-lightened-5: #D62636;
--ic-brand-primary-lightened-10: #D83141;
--ic-brand-primary-lightened-15: #DA3D4B;
--ic-brand-button--primary-bgd-darkened-5: #CA1A2A;
--ic-brand-button--primary-bgd-darkened-15: #B51726;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-28: #677179;
--ic-link-color-darkened-10: #A32424;
--ic-link-color-lightened-10: #BC3D3D;
--ic-brand-primary: #d41b2c;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #b52828;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #000000;
--ic-brand-global-nav-ic-icon-svg-fill: #D41B2C;
--ic-brand-global-nav-ic-icon-svg-fill--active: #D41B2C;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #D41B2C;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #128812;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #000000;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_145230000000000001/attachments/949/NU_MonoLVX_RGB_RW.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #d12e2e;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #d12e2e;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_145230000000000001/attachments/124096/My%20Post%25283%2529.png');
--ic-brand-Login-Content-bgd-color: #000;
--ic-brand-Login-Content-border-color: #000;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #dddddd;
--ic-brand-Login-footer-link-color: #dddddd;
--ic-brand-Login-footer-link-color-hover: #cccccc;
--ic-brand-Login-instructure-logo: #cccccc;
      }